* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #45f882;
  --primar-color: gold;
}
:root {
  --animation-duration: 1s; /* Harflerin tek tek çıkış süresi */
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.cursor-dot {
  position: fixed; /* Sayfada sabitlenmiş */
  width: 10px; /* Noktanın genişliği */
  height: 10px; /* Noktanın yüksekliği */
  background-color: #3fdf77; /* Noktanın rengi */
  border-radius: 50%; /* Yuvarlak şekil */
  transform: translate(-50%, -50%); /* Noktayı merkezlemek için */
  transition: top 0.1s ease, left 0.1s ease; /* Yumuşak hareket */
  pointer-events: none;
  z-index: 99999;
}

.image-container {
  img {
    position: absolute;
    animation: blink 3s infinite;
    opacity: 0.1;
  }
}

.blinking-img1 {
  left: 300px;
  top: 100px;
}
.blinking-img2 {
  right: 200px;
  top: 400px;
}
.blinking-img3 {
  left: 400px;
  top: 500px;
}
.blinking-img4 {
  left: 700px;
  top: 300px;
}
@keyframes blink {
  0% {
    opacity: 0; /* Tam görünürlük */
  }
  25% {
    opacity: 0.1; /* Yavaşça kaybolmaya başlar */
  }
  50% {
    opacity: 0; /* Tamamen kaybolur */
  }
  75% {
    opacity: 0.1; /* Yavaşça tekrar görünür olur */
  }
  100% {
    opacity: 0; /* Tam görünür hale gelir */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../image/slider_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  margin-top: 30px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 150px;
  margin-right: 10px;
}

.line {
  width: 50px;
  height: 1.2px;
  background-color: #45f882;
  position: absolute;
  left: 10%;
  top: 8px;
  opacity: 0;
  transition: 0.5s;
}

.line-home {
  width: 50px;
  height: 1.2px;
  transform: rotate(-45deg);
  background-color: #45f882;
  position: absolute;
  top: 8px;
}
.navbar .menu {
  display: flex;
  gap: 50px;
  position: relative;
  z-index: 3;
}

.navbar .menu .menu-item {
  position: relative;
  &:hover {
    .line {
      transform: rotate(-45deg);

      opacity: 1;
    }
  }
}

.navbar .menu a {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
  color: #ffffff;
}

.navbar .menu a:hover {
  color: #45f882;
}

.navbar .menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.navbar .menu .menu-item:hover .submenu {
  display: flex;
}

.navbar .search-icon {
  font-size: 20px;
  transition: 0.3s;
  &:hover {
    color: #45f882;
  }
}

.sign-in {
  position: relative;
  &:hover {
    svg {
      fill: #45f882;
    }
    h1,
    i {
      color: #000;
    }
  }
  svg {
    width: 130px;
    color: #45f882;
    /* overflow: hidden; */
    transition: 0.5s;
  }

  h1 {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 15px;
    top: -2px;
    left: 0px;
    transition: 0.5s;
  }
}

.hamburger {
  display: flex;
  flex-direction: column; /* Çubukları dikey hizalar */
  gap: 5px; /* Çubuklar arasında boşluk */
  cursor: pointer; /* İmleç şekli */
}

.hamburger span {
  background-color: rgb(237, 223, 223); /* Çubuk rengi */
  height: 4px; /* Çubuk kalınlığı */
  transition: 1s;
}

.span-one {
  width: 20px; /* İlk çubuk soldan sağa 20px görünür */
}

.span-two {
  width: 37px; /* İkinci çubuk tam görünür */
}

.span-three {
  width: 20px; /* Üçüncü çubuk sağdan sola 20px gizlenir */
}

.hamburger:hover .span-one {
  width: 37px; /* Hover ile tam görünür */
}

.hamburger:hover .span-two {
  width: 37px; /* İkinci çubuk sabit kalır */
}

.hamburger:hover .span-three {
  width: 37px; /* Hover ile tam görünür */
}

.live-gaming {
  width: 100%;
  padding-bottom: 30px;
  background-image: url(../image/slider_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .game {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        width: 210px;
        height: 50px;
        background: linear-gradient(to right, #1f5c40a5, #1320265a);
        border-radius: 10px;
        margin: 90px 0 30px 0;
        h2 {
          font-family: Poppins, sans-serif;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 4px;
          line-height: 20px;
          text-decoration: none solid rgb(69, 248, 130);
          text-align: left;
          text-transform: uppercase;
          background-position: 0% 0%;
          color: #45f882;
          height: 54px;
          width: 694px;
          padding: 17px 0 17px 20px;
          transform: none;
          transition: all 0s ease 0s;
          box-sizing: border-box;
          word-wrap: break-word;
        }
      }

      .live {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 30px;

        .images {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          transition: 0.3s;

          &:hover {
            opacity: 0.5;
          }
        }
        h1 {
          font-family: berlin_sans_fb_demibold;
          font-size: 150px;
          font-weight: 700;
          line-height: 120px;
          text-decoration: none solid rgb(255, 255, 255);
          text-align: left;
          text-transform: uppercase;
          background-position: 0% 0%;
          color: #ffffff;
          height: 240px;
          width: 794px;
          margin: 0 0 21px 0;
          transform: none;
          transition: all 0s ease 0s;
          box-sizing: border-box;
          text-shadow: rgba(69, 248, 130, 0.66) -1px 5px 0px;
          word-wrap: break-word;
        }

        p {
          font-size: 30px;
          font-family: Poppins, sans-serif;
          font-weight: 700;
          letter-spacing: 5px;
          line-height: 36.4px;
          text-decoration: none solid rgb(255, 255, 255);
          text-align: left;
          text-transform: uppercase;
          background-position: 0% 0%;
          color: #ffffff;
          height: 36.4px;
          width: 694px;
          transform: none;
          transition: all 0s ease 0s;
          outline: rgb(255, 0, 0) dahed 0.8px;
          box-sizing: border-box;
          word-wrap: break-word;
        }
      }

      .contact-us {
        position: relative;

        svg {
          color: #ffffff;
          height: auto;
          width: 160px;
          cursor: pointer;
          fill: #45f882;
          transition: 0.4s;
          &:hover {
            fill: #ffffff;
          }
        }
        h3 {
          font-family: Barlow, sans-serif;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0.8px;
          line-height: 26.25px;
          text-decoration: none solid rgb(32, 31, 42);
          text-align: center;
          text-transform: uppercase;
          height: 26.25px;
          min-height: auto;
          min-width: auto;
          cursor: pointer;
          transform: none;
          transition: all 0s ease 0s;
          box-sizing: border-box;
          word-wrap: break-word;
          position: absolute;
          top: 11px;
          left: 30px;
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 450px;
        margin-top: 50px;
      }
    }
  }
  .bottom {
    display: flex;
    .ucbucaq {
      width: 50%;
      height: 100px;
      clip-path: polygon(0 47%, 0% 100%, 100% 100%);
      background-color: #45f882;
      z-index: 6;
    }

    .ucbucaq1 {
      width: 50%;
      height: 100px;
      background-color: #45f882;
      clip-path: polygon(100% 47%, 0 100%, 100% 100%);
      z-index: 6;
    }
  }
}
.iPRINCESS {
  width: 100%;
  background: #000;
  margin: 0;

  .container {
    height: 100%;
    padding: 50px 0;
    .cards {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card {
        width: 33%;
        height: 250px;
        background-color: #151c26;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .left {
          img {
            border-radius: 20px;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 40px;
          h1 {
            cursor: pointer;
            font-family: Barlow, sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 24px;
            text-decoration: none solid rgb(255, 255, 255);
            text-transform: uppercase;
            height: auto;
            width: auto;
            color: #ffffff;
            transform: none;
            transition: all 0.3s ease-out 0s;
            box-sizing: border-box;
            word-wrap: break-word;
            transition: 0.3s;
            &:hover {
              color: gold;
            }
          }

          .center {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            a {
              color: grey;
              font-size: 18px;
              font-weight: bold;
              transition: 0.3s;
              &:hover {
                color: gold;
              }
            }
          }
          span {
            font-weight: bold;
            color: grey;
          }

          .bottom {
            width: 100%;
            height: 50px;
            border: 1px solid grey;
            border-radius: 10px;
            background-color: #0f151b;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
              color: #000;
              font-size: 20px;
              font-weight: bold;
              padding: 5px 15px;
              border-radius: 10px;
              background-color: gold;
              transition: 0.3s;

              &:hover {
                background-color: #45f882;
              }
            }
            p {
              color: #ffffff;
              font-weight: bold;

              span {
                color: gold;
              }
            }
          }
        }
      }
    }
  }
}
.STEAMERS {
  width: 100%;
  background-image: url(../image/area_bg01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
  .container {
    .animation-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .lineee {
        clip-path: polygon(34% 100%, 54% 100%, 64% 93%, 29% 93%);
        background-color: var(--primary-color);
        margin-top: 20px;
        width: 200px;
        height: 100px;
        position: absolute;
      }
      h1 {
        margin-top: 15px;
        font-family: Barlow, sans-serif;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 54px;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        text-transform: uppercase;
        height: 54px;
        width: 1270px;
        transform: none;
        transition: all 0s ease 0s;
        box-sizing: border-box;
        word-wrap: break-word;
        color: #ffffff;
      }
    }

    #animated-text {
      font-size: 20px;
      color: var(--primary-color); /* Harflerin rengini beyaz yap */
      font-weight: bold;
      text-shadow: 2px 1px 3px #45f882;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 14px;
      text-decoration: none solid rgb(69, 248, 130);
      text-align: center;
      text-transform: uppercase;
      height: 14px;
      width: 1270px;
      margin: 0 0 7px 0;
      transform: none;
      transition: all 0s ease 0s;
      box-sizing: border-box;
      word-wrap: break-word;
    }

    .btn {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      .left {
        cursor: pointer;
        position: relative;
        &:hover {
          svg {
            background-color: var(--primary-color);
          }
          h1 {
            color: #000;
          }
        }
        svg {
          width: 200px;
          color: var(--primary-color);
          transition: 0.5s;
        }
        h1 {
          position: absolute;
          top: 20px;
          left: 45px;
          font-size: 20px;
          font-weight: bold;
          color: #ffffff;
        }
      }

      .right {
        cursor: pointer;
        position: relative;

        &:hover {
          svg {
            background-color: var(--primar-color);
          }
          h1 {
            color: #000;
          }
        }
        svg {
          width: 200px;
          color: var(--primar-color);
          transition: 0.5s;
        }

        h1 {
          position: absolute;
          top: 20px;
          left: 45px;
          font-size: 20px;
          font-weight: bold;
          color: #ffffff;
          transition: 0.5s;
        }
      }
    }

    .circle-images {
      width: 100%;

      .line-gradient {
        margin: 15px auto;
        width: 70%;
        height: 1px;
        background: linear-gradient(
          to right,
          #0f1218 0%,
          #45f881d6 50%,
          #0f1218 100%
        );
      }

      .circle-image {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        img {
          width: 100%;
          border-radius: 50%;

          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          border-left: 1px solid var(--primar-color);
          border-right: 1px solid var(--primar-color);
          transition: 0.5s;
        }
        div {
          padding: 5px;
          cursor: pointer;
          border-radius: 50%;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          border-left: 1px solid var(--primar-color);
          border-right: 1px solid var(--primar-color);
          transition: 0.5s;

          &:hover {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #45f882;
            border-right: 1px solid #3fdf77;

            img {
              border-top: 1px solid #000;
              border-bottom: 1px solid #000;
              border-left: 1px solid #45f882;
              border-right: 1px solid #3fdf77;
            }
          }
        }
      }
    }
    .HUMAN-GAME {
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 35px;

      .left {
        width: 35%;
        height: 400px;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        img {
          width: 90%;
          object-fit: cover;
        }
      }

      .right {
        width: 60%;
        .top {
          .leftt {
            h1 {
              font-family: Barlow, sans-serif;
              font-size: 30px;
              font-weight: 700;
              line-height: 36px;
              text-decoration: none solid rgb(255, 255, 255);
              text-transform: uppercase;
              word-spacing: 0px;
              height: 36px;
              width: 407.85px;
              margin: 0 0 2px 0;
              transform: none;
              transition: all 0s ease 0s;
              box-sizing: border-box;
              color: #ffffff;
              word-wrap: break-word;
            }
            h3 {
              font-family: Barlow, sans-serif;
              font-size: 20px;
              font-weight: 600;
              line-height: 35px;
              text-decoration: none solid rgb(255, 190, 24);
              text-transform: uppercase;
              word-spacing: 0px;
              height: 35px;
              width: 407.85px;
              margin: 0 0 18px 0;
              background-position: 0% 0%;
              height: 35px;
              width: 407.85px;
              margin: 0 0 18px 0;
              color: #ffbe18;
              transform: none;
              transition: all 0s ease 0s;
              box-sizing: border-box;
              word-wrap: break-word;
            }

            p {
              font-family: Poppins, sans-serif;
              font-size: 16px;
              line-height: 28px;
              text-decoration: none solid rgb(173, 176, 188);
              word-spacing: 0px;
              color: #adb0bc;
              height: 112px;
              width: 407.85px;
              transform: none;
              transition: all 0s ease 0s;
              box-sizing: border-box;
              word-wrap: break-word;
            }
          }

          .rightt {
            .card {
              width: 300px;
              border: 1px solid red;
              display: flex;
              align-items: center;
              justify-content: space-around;
              padding: 10px 0;

              h1 {
                font-family: Barlow, sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                text-decoration: none solid rgb(173, 176, 188);
                text-align: left;
                word-spacing: 0px;
              }
            }
          }
        }
      }
    }
  }
}
